@charset "utf-8";

html {
  overflow-y: scroll;
}

body {
  font-family: 'Ludida Grande', 'Hiragino Maru Gothic ProN W4', Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center; /* 初期画像配置用 */
}

#headerWrapper {
  width: 100%;
  background: url('../images/bg.gif');
  overflow: hidden;
}

#menu{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  width: 16.66%;
  float: left;
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 862px) {
  #menu li {
    width: 33.33%;
  }

  #menu #m4, #menu #m5, #menu #m6 {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  #menu li {
    width: 50%;
  }

  #menu #m3, #menu #m4, #menu #m5, #menu #m6 {
    margin-top: 0;
  }
}

#menu li a {
  display: block;
  margin: 6px 4px;
  padding: 6px 0px 4px;
  border-radius: 35px;
  color: #000;
}

#menu #m6 {
  border-right: none;
}

.index #menu #m1,
.introduction #menu #m2,
.festival #menu #m3,
.mascots #menu #m4,
.access #menu #m5,
.contact #menu #m6 {
  background: #80ffff;
}

#menu li a:hover {
  background-color: #80ffff;
  transition: background-color 500ms ease-out 100ms;
}

#menu img {
  width: 16px;
  vertical-align: -1.5px;
  padding-right: 7px;
}

#first {
  margin-top: -24px;
  clear: both;
  width: 100%;
  display: block;
  border-top: 1px solid #00f;
}

.oneliner {
  margin: 0 0 10px;
  padding: 20px 5px;
  background: rgba(249,255,201,1);
  background: -moz-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(249,255,201,1)), color-stop(66%, rgba(255,255,43,1)), color-stop(100%, rgba(255,255,43,1)));
  background: -webkit-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: linear-gradient(135deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ffc9', endColorstr='#ffff2b', GradientType=1 );
  border-top, border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px 1px #ccc;
  text-align: center;
}

.oneliner h2 {
  display: inline;
  line-height: 1.2;
  font-size: 1.7em;
  text-shadow: 0 1px 1px #666;
}

.stage {
  padding-top: 10px;
}

.stage img {
  margin: 10px; /* 初期画像配置用 */
}

