@charset "utf-8";

body {
  font-family: 'Ludida Grande', 'Hiragino Maru Gothic ProN W4', Meiryo, sans-serif;
}

#first {
  width: 100%;
  display: block;
}

.oneliner {
  margin: 0 0 20px;
  padding: 20px 5px;
  background: rgba(249,255,201,1);
  background: -moz-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(249,255,201,1)), color-stop(66%, rgba(255,255,43,1)), color-stop(100%, rgba(255,255,43,1)));
  background: -webkit-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  background: linear-gradient(135deg, rgba(249,255,201,1) 0%, rgba(255,255,43,1) 66%, rgba(255,255,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ffc9', endColorstr='#ffff2b', GradientType=1 );
  border-top, border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px 1px #ccc;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.oneliner h2 {
  display: inline;
  line-height: 1.2;
  font-size: 1.7em;
  text-shadow: 0 1px 1px #666;
}

.container img {
  margin: 10px;
}
