<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>第54回北大医学展―6月6日（土）、7日（日）に開催！</title>
    <meta name="description" content="第54回北大医学展の公式サイトです。2015年6月6日（土）、7日（日）に北海道大学医学部で開催します。テーマ「WARA医」の通り、笑顔あふれる医学展を目指します！皆様のご来場を心よりお待ちしております。">
    <meta name="author" content="北海道大学医学展実行委員会">
    <meta name="copyright" content="Copyright (C) 北海道大学医学展実行委員会 2014-2015">
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>

    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>