<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第54回北大医学展―6月6日（土）、7日（日）に開催！</title>
    <meta name="description" content="第54回北大医学展の公式サイトです。2015年6月6日（土）、7日（日）に北海道大学医学部で開催します。テーマ「WARA医」の通り、笑顔あふれる医学展を目指します！皆様のご来場を心よりお待ちしております。">
    <meta name="author" content="北海道大学医学展実行委員会">
    <meta name="copyright" content="Copyright (C) 北海道大学医学展実行委員会 2014-2015">

    <%= stylesheet_link_tag "normalize", "jquery.fancybox.css", "all" %>
    <%= javascript_include_tag  "jquery-1.10.1.min.js", "jquery.fancybox.pack.js", "all" %>

    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
  </head>
  
  <body class="<%= page_classes %>">
    <div id="headerWrapper">
      <header class="container">
        <ul id="menu">
          <li><a href="index.html" id="m1"><img src="images/icon-home.png" alt="">医学展トップ</a></li>
          <li><a href="introduction.html" id="m2"><img src="images/icon-about.png" alt="">医学展とは？</a></li>
          <li><a href="festival.html" id="m3"><img src="images/icon-star.png" alt="">企画のすべて</a></li>
          <li><a href="mascots.html" id="m4"><img src="images/icon-light.png" alt="">マスコット！</a></li>
          <li><a href="access.html" id="m5"><img src="images/icon-access.png" alt="">会場のご案内</a></li>
          <li><a href="contact.html" id="m6"><img src="images/icon-contact.png" alt="">お問い合わせ</a></li>
        </ul>
      </header>
    </div>
    <%= yield %>
    <div id="footerWrapper">
      <footer class="container">
        <p>フッター</p>
      </footer>
    </div>
  </body>
</html>