<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第54回北大医学展―6月6日（土）、7日（日）に開催！</title>
    <meta name="description" content="第54回北大医学展の公式サイトです。2015年6月6日（土）、7日（日）に北海道大学医学部で開催します。テーマ「WARA医」の通り、笑顔あふれる医学展を目指します！皆様のご来場を心よりお待ちしております。">
    <meta name="author" content="北海道大学医学展実行委員会">
    <meta name="copyright" content="Copyright (C) 北海道大学医学展実行委員会 2014-2015">
    <!--[if lt IE 9]><script src="javascripts/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/jquery.fancybox.css">
    <link rel="stylesheet" href="stylesheets/all.css">
    <script type="text/javascript" src="javascripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="javascripts/all.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39957487-1', 'hokudai-igakuten.org');
      ga('send', 'pageview');
    </script>
  </head>  
  
  <body class="<%= page_classes %>">
    <div id="pageWrapper">
      <div id="headerWrapper">
        <header class="container">
          <ul id="menu">
            <li><a href="index.html" id="m1"><img src="images/icon-home.png" alt="">医学展トップ</a></li>
            <li><a href="introduction.html" id="m2"><img src="images/icon-about.png" alt="">医学展とは？</a></li>
            <li><a href="festival.html" id="m3"><img src="images/icon-star.png" alt="">企画のすべて</a></li>
            <li><a href="mascots.html" id="m4"><img src="images/icon-light.png" alt="">マスコット！</a></li>
            <li><a href="access.html" id="m5"><img src="images/icon-access.png" alt="">会場のご案内</a></li>
            <li><a href="contact.html" id="m6"><img src="images/icon-contact.png" alt="">お問い合わせ</a></li>
          </ul>
        </header>
      </div>

<%= yield %>

      <div id="footerWrapper">
        <footer class="container">
          <img src="images/last.jpg" alt="">
          <div class="row">
            <div class="footerContent">
              <h3>医学展とは？</h3>
              <p>北大祭に合わせて医学部医学科の学生が主体となって開催している学祭『医学展』。企画から当日の運営まですべて医学生が行っております！ 医学展を通して、市民の皆様に北大医学部および医療について知って頂ければと願っております。</p>
            </div>
            <div class="footerContent">
              <h3>日程</h3>
              <dl>
                <dt>2015年6月6日（土）</dt><dd>10：00～17：30</dd>
                <dt>2015年6月7日（日）</dt><dd>09：00～16：30</dd>
              </dl>
            </div>
            <div class="footerContent">
              <h3>会場</h3>
              <dl>
                <dt>北海道大学医学部</dt>
                <dd>（札幌市北区北15条西7丁目）</dd>
              </dl>
              <ul>
                <li>噴水周辺ロータリー</li>
                <li>医学部学友会館</li>
                <li>医学部図書館 2～3階</li>
              </ul>
            </div>
            <div class="footerContent">
              <h3>サイトマップ</h3>
              <ul>
                <li><a href="index.html"><img src="images/icon-home.png" alt="">医学展トップ</a></li>
                <li><a href="introduction.html"><img src="images/icon-about.png" alt="">医学展とは？</a></li>
                <li><a href="festival.html"><img src="images/icon-star.png" alt="">企画のすべて</a></li>
                <li><a href="mascots.html"><img src="images/icon-light.png" alt="">マスコット！</a></li>
                <li><a href="access.html"><img src="images/icon-access.png" alt="">会場のご案内</a></li>
                <li><a href="contact.html"><img src="images/icon-contact.png" alt="">お問い合わせ</a></li>
              </ul>
            </div>
          </div><!-- .row -->
          <small id="copyright">We are really looking forward to seeing you!!!<br>Copyright (C) 北海道大学医学展実行委員会 2015 All rights reserved.</small>
        </footer>
      </div>
    </div><!-- #pageWrapper -->
  </body>
</html>