<div class="oneliner">
　　<h2 class="container">北海道大学医学部へのアクセス</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="map">
    </div>
    <div class="mapGuide">
    </div>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">医学展会場内のご案内</h2>
</div>