<div class="oneliner">
　　<h2 class="container">北海道大学医学部へのアクセス</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus mapGuide">
      <p>地下鉄をご利用の場合、<strong>南北線北12条駅または南北線北18条駅から徒歩で約10分、東豊線北13条東駅から徒歩で約15分</strong>です。駅を出た後、西に進んで下さい。</p>
      <p>JRをご利用の場合、<strong>JR札幌駅から徒歩で約20分</strong>です。北口から出て北上して下さい。</p>
      <p>詳しくは、<a href="http://www.med.hokudai.ac.jp/access/" target="_blank">こちら（→北海道大学医学部 アクセスページ）</a>をご参照ください。</p>
    </div>
    <div class="map">
      <div class="ggmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11657.87718867961!2d141.3421067790985!3d43.07362809157951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xbdfb4b89d4c7625f!2z5YyX5rW36YGT5aSn5a2m5aSn5a2m6Zmi5Yy75a2m56CU56m256eR5Yy75a2m6YOo5Zuz5pu46aSo!5e0!3m2!1sja!2sjp!4v1427534686571" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">医学展会場内へのご案内</h2>
</div>
<div class="stage lastStage">
  <div class="container">
    <img src="images/map-access.png" alt="">
    <img src="images/map-events.png" alt="">
  </div>
</div>
