<div class="oneliner">
　　<h2 class="container">お問い合わせ</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus">
      <p>何か不明なところがございましたら、下記のアドレスまでお気軽にご連絡ください。</p>
      <img src="images/office.png" alt="" class="office">
      <p>北海道大学医学展実行委員会への郵送物につきましては、以下の住所宛てにお願い致します。<br><strong>北海道札幌市北区北15条西7丁目　北海道大学医学部内　医学展実行委員会　行</strong></p>
    </div>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">よくある質問</h2>
</div>
<div class="stage lastStage">
  <div class="container">
    <div class="campus faq">
      <p><span class="questions">Q1. 医学展では入場料などはかかりますか？</span><br>ほぼ全ての企画を無料で実施しております。有料の企画は飲食物を扱う企画に限られ、医学部図書館3階の企画「東医研カレー」ではカレーとチャイを販売しております。</p>
      <p><span class="questions">Q2. 駐車場はありますか？</span><br>医学展を含め、北大祭では駐車場がございません。特に遠方からお越しの皆様には大変ご迷惑をお掛け致しますが、公共交通機関のご利用をお願い申し上げます。</p>
      <p><span class="questions">Q3. おすすめの企画を教えて下さい。</span><br>医学部学友会館で実施している科学体験教室の「味覚の不思議体験」は非常に手軽で、かつ（個人差はありますが）驚かれる方が多いです。また、医学部図書館2階の検査体験会では、気軽に様々な簡易検査を体験して頂けます。それから、時間限定の企画ではございますが、ドクターヘリと民間救急車に出会える貴重な機会ですので、是非一度ご覧になってくださいませ！</p>
      <p><span class="questions">Q4. 休憩スペースはありますか？</span><br>はい、ございます！医学部図書館2階には飲食可能な休憩所を設けております。また、同3階では一般的な教室のものですが、長机と椅子をご利用いただけます。さらに、医学部図書館の南側の屋外にも見晴らしの良い休憩スペースを設置します。是非お昼時にも医学部にお越しください！</p>
      <!--<p><span class="questions">Q. </span><br></p>-->
    </div>
  </div>
</div>