<div class="oneliner">
　　<h2 class="container">噴水周辺ロータリーの企画</h2>
</div>
<div class="oneliner">
　　<h2 class="container">医学部学友会館の企画</h2>
</div>
<div class="oneliner">
　　<h2 class="container">医学部図書館の企画</h2>
</div>