<div class="oneliner">
　　<h2 class="container">噴水周辺ロータリーの企画</h2>
</div>
<div class="stage">
  <div class="container">
    <img src="images/areaA.png" alt="噴水周辺ロータリーでは、ドクターヘリ見学会やハンディキャップ体験企画などを実施しております。">    
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">医学部学友会館の企画</h2>
</div>
<div class="stage">
  <div class="container">
    <img src="images/areaB.png" alt="医学部学友会館では、科学体験教室を実施しております。">
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">医学部図書館の企画</h2>
</div>
<div class="stage lastStage">
  <div class="container">
    <img src="images/areaC.png" alt="医学部図書館では、検査体験企画などを実施しております。">
  </div>
</div>
