<img id="first" src="images/first.png" alt="第54回北大医学展を2015年6月6日（土）、7日（日）に北海道大学医学部で開催します！">

<div class="oneliner">
　　<h2 class="container">2015年6月6日（土）、7日（日）に北海道大学医学部で開催！</h2>
</div>

<div class="stage">
  <div class="container">
  	<a class="fancybox" rel="group" href="images/kensa.png"><img src="images/kensa.png" alt="検査体験会"></a>
  	<a class="fancybox" rel="group" href="images/kagaku.png"><img src="images/kagaku.png" alt="科学体験教室"></a>
  	<a class="fancybox" rel="group" href="images/kyukyu.png"><img src="images/kyukyu.png" alt="救急体験会"></a>
  	<a class="fancybox" rel="group" href="images/kari-hc.png"><img src="images/kari-hc.png" alt="ハンディキャップ体験会"></a>
  	<a class="fancybox" rel="group" href="images/kari-sr.png"><img src="images/kari-sr.png" alt="シールラリー"></a>
  	<a class="fancybox" rel="group" href="images/kari-etc.png"><img src="images/kari-etc.png" alt="その他の企画"></a>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">アクセス：北海道大学医学部（札幌市北区北15条西7丁目）</h2>
</div>

<div class="stage">
  <div class="container">
  	<img src="images/map-access.png" alt="">
  	<img src="images/map-events.png" alt="">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox();
  });
</script>
