<img id="first" src="images/first.png" alt="第54回北大医学展を2015年6月6日（土）、7日（日）に北海道大学医学部で開催します！">

<div class="oneliner">
　　<h2 class="container">2015年6月6日（土）、7日（日）に北海道大学医学部で開催！</h2>
</div>

<div class="stage">
  <div class="container">
    <a class="fancybox" data-fancybox-group="group" href="#kensa"><img src="images/kensa.png" alt="検査体験企画"></a>
    <a class="fancybox" data-fancybox-group="group" href="#kagaku"><img src="images/kagaku.png" alt="科学体験教室"></a>
    <a class="fancybox" data-fancybox-group="group" href="#kyukyu"><img src="images/kyukyu.png" alt="救急体験企画"></a>
    <a class="fancybox" data-fancybox-group="group" href="#hc"><img src="images/hc.png" alt="ハンディキャップ体験企画"></a>
    <a class="fancybox" data-fancybox-group="group" href="#rally"><img src="images/rally.png" alt="シールラリー"></a>
    <a class="fancybox" data-fancybox-group="group" href="#etc"><img src="images/etc.png" alt="その他の企画"></a>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">アクセス：北海道大学医学部（札幌市北区北15条西7丁目）</h2>
</div>

<div class="stage lastStage">
  <div class="container">
    <img src="images/map-access.png" alt="">
    <img src="images/map-events.png" alt="">
  </div>
</div>

<div id="kensa" class="details">
  <h1>検査体験企画</h1>
  <div>
    <img src="images/kensa1.png" alt="">
    <p><span>心臓の検査体験ブース</span><br>ドクッドクッ。胸に掌を当てて瞳を閉じてみよう。かすかな、だけど確かな鼓動が感じられる。心臓が動く姿を「見て」みたくありませんか。</p>
  </div>
  <div>
    <img src="images/kensa2.png" alt="">
    <p><span>肺の検査体験ブース</span><br>肺活量をはじめバラエティ豊かな呼吸の検査を体験できます。呼吸器系の病気も説明致します。近年、急増しているCOPDとは何なのでしょうか？</p>
  </div>
  <div>
    <img src="images/kensa3.png" alt="">
    <p><span>骨の検査体験ブース</span><br>骨密度って聞いたことありますか？ヒトの体には200個以上の骨があります。丈夫な骨作りの第一歩として、今の自分と向き合ってみましょう！</p>
  </div>
  <div>
    <img src="images/kensa4.png" alt="">
    <p><span>血管の検査体験ブース</span><br>健康に関心の高い方々から注目を集めている「油」。油と血管には切っても切れない関係があります。ぜひ血管年齢を測定してみましょう！</p>
  </div>
  <div>
    <img src="images/kensa5.png" alt="">
    <p><span>神経の検査体験ブース</span><br>意図していないのに体が動く！？ヒトの体に隠された反射の不思議に迫ります。一回体験すればハマること間違いなし！お待ちしてます！</p>
  </div>
  <div>
    <img src="images/kensa6.png" alt="">
    <p><span>健康相談・診療体験ブース</span><br>2年後には医者になる予定の5年生が簡単な健康相談や医療手技体験を実施します。医者の卵に皆様の想いをぶつけて下さい！</p>
  </div>
</div>

<div id="kagaku" class="details">
  <h1>科学体験教室</h1>
  <div>
    <img src="images/kagaku1.png" alt="">
    <p><span>「味覚の不思議体験」</span><br>食べ物の「味」の正体とは何でしょうか。もし、全く同じものを食べて味が180度変わったら！？レモンが甘くて、砂糖が甘くない世界へようこそ！</p>
  </div>
  <div>
    <img src="images/kagaku2.png" alt="">
    <p><span>「脳波ゲーム」</span><br>集中したりぼーっとしたりして、手を触れずに目の前のボールを浮かせよう！老若男女だれでも楽しめて、そして思わず笑みのこぼれるおもちゃです！</p>
  </div>
  <div>
    <img src="images/kagaku3.png" alt="">
    <p><span>「細胞観察」</span><br>ヒトの体は約60兆個の細胞からできていると言われています。細胞はどんな姿をしているのでしょうか。ミクロの世界へ想いを馳せてみましょう！</p>
  </div>
  <div>
    <img src="images/kagaku4.png" alt="">
    <p><span>「パスタde骨格」</span><br>初めての方もリピーターの方も楽しめる待望の新企画。体を動かしてみよう。どんな骨が動いていますか？パスタで骨格を表現し、骨の絆を伝えます！</p>
  </div>
  <div>
    <img src="images/kagaku5.png" alt="">
    <p><span>「手洗いチェッカー」</span><br>【祝】新企画！簡単なキットを用いて、手洗いで汚れがどれくらい落ちるのかを体感して頂きます。ご自分の手洗いの意外な特徴が判明するかも！？</p>
  </div>
</div>

<div id="kyukyu" class="details">
  <h1>救急体験企画</h1>
  <div>
    <img src="images/kyukyu1.png" alt="">
    <p><span>ドクターヘリ見学会</span><br>3年越しの悲願達成へ！ドクターヘリがついに北大医学部に着陸します！<span class="emp">6/7(日)10時30分頃に噴水前！</span>現役フライトドクターの解説も！</p>
  </div>
  <div>
    <img src="images/kyukyu2.png" alt="">
    <p><span>民間救急車見学会</span><br>北海道で活躍する民間救急車がやってきます！消防署の救急車とは一味違う、その魅力をたっぷりとお届け致します！気軽にお立ち寄りください！</p>
  </div>
  <div>
    <img src="images/kyukyu3.png" alt="">
    <p><span>献血ブース</span><br>献血にご協力をお願い申し上げます。粗品を献上致します。多くの方々の献血によって医療は支えられています。皆様のお力を貸して下さい。</p>
  </div>
  <div>
    <img src="images/kyukyu4.png" alt="">
    <p><span>心肺蘇生体験ブース</span><br>AEDの使い方、心臓マッサージのやり方を丁寧にお伝え致します。もしもの時、あの時学んだことがきっと勇気になる。人を救うのは人なんです。</p>
  </div>
</div>

<div id="hc" class="details">
  <h1>ハンディキャップ体験企画</h1>
  <!--<div>
    <img src="images/hc1.png" alt="">
    <p><span>盲導犬体験会</span><br>盲導犬と歩くってどんな感じなのでしょうか。実際に体験して頂きます。時間限定のスペシャル企画となっております。</p>
  </div>-->
  <div>
    <img src="images/hc2.png" alt="">
    <p><span>車いす体験会</span><br>車いすで移動することを体験してみませんか。噴水の周りを一周してみましょう！実際に乗ってみると新たな気づきがあるかもしれません。</p>
  </div>
  <div>
    <img src="images/hc3.png" alt="">
    <p><span>妊婦さん体験会</span><br>妊婦さんって大変だと聞くけれど、実際どんな感じなのでしょうか。胎児の重さだけではないんです。疑似体験してみませんか。</p>
  </div>
</div>

<div id="rally" class="details">
  <h1>シールラリー</h1>
  <div>
    <img src="images/rally1.png" alt="">
    <p><span>検査体験企画のシール</span><br>医学部図書館2階で開催しております【検査体験企画】でゲットできます！</p>
  </div>
  <div>
    <img src="images/rally2.png" alt="">
    <p><span>科学体験教室のシール</span><br>医学部学友会館で開催しております【科学体験教室】でゲットできます！</p>
  </div>
  <div>
    <img src="images/rally3.png" alt="">
    <p><span>救急体験企画のシール</span><br>【救急体験企画】のうち、医学部図書館2階の「心肺蘇生体験ブース」でゲットできます！</p>
  </div>
  <div>
    <img src="images/rally4.png" alt="">
    <p><span>ハンディキャップ体験企画のシール</span><br>噴水周辺ロータリーで開催しております【ハンディキャップ体験企画】でゲットできます！</p>
  </div>
</div>

<div id="etc" class="details">
  <h1>その他の企画</h1>
  <!--<div>
    <img src="images/etc1.png" alt="">
    <p><span>ぬいぐるみ病院</span><br>ぬいぐるみを使って「お医者さんごっこ」をすることにより、子どもたちの病院に対する恐怖感を和らげます。みんな、一緒に遊ぼう！</p>
  </div>-->
  <div>
    <img src="images/etc2.png" alt="">
    <p><span>講演会</span><br>セルフ健康チェック事業と24時間体制の訪問看護事業を展開する医療ベンチャー「ケアプロ」の代表、川添氏による講演会を開催します。</p>
  </div>
  <div>
    <img src="images/etc3.png" alt="">
    <p><span>東医研カレー</span><br>毎年恒例の名物「東医研カレー」を今年も振る舞います！ミルクで割ったチャイとともに、スパイスの心地良く効いたカレーをどうぞ！</p>
  </div>
  <div>
    <img src="images/etc4.png" alt="">
    <p><span>ポスター展示</span><br>国際医療系団体IFMSA JAPANの一部門SCORAとの連携企画。性感染症や多様な性のかたちに関するポスター展示を行います。</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox({
      openEffect : 'elastic',
      closeEffect : 'elastic',
    });
  });
</script>
