<img id="first" src="images/first.png" alt="第54回北大医学展を2015年6月6日（土）、7日（日）に北海道大学医学部で開催します！">

<div class="oneliner">
　　<h2 class="container">2015年6月6日（土）、7日（日）に北海道大学医学部で開催！</h2>
</div>

<div class="stage">
  <div class="container">
    <a class="fancybox" data-fancybox-group="group" href="#kensa"><img src="images/kensa.png" alt="検査体験会"></a>
    <a class="fancybox" data-fancybox-group="group" href="#kagaku"><img src="images/kagaku.png" alt="科学体験教室"></a>
    <a class="fancybox" data-fancybox-group="group" href="#kyukyu"><img src="images/kyukyu.png" alt="救急体験会"></a>
    <a class="fancybox" data-fancybox-group="group" href="#hc"><img src="images/hc.png" alt="ハンディキャップ体験会"></a>
    <a class="fancybox" data-fancybox-group="group" href="#rally"><img src="images/rally.png" alt="シールラリー"></a>
    <a class="fancybox" data-fancybox-group="group" href="#etc"><img src="images/etc.png" alt="その他の企画"></a>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">アクセス：北海道大学医学部（札幌市北区北15条西7丁目）</h2>
</div>

<div class="stage lastStage">
  <div class="container">
    <img src="images/map-access.png" alt="">
    <img src="images/map-events.png" alt="">
  </div>
</div>

<div id="kensa" class="details">
  <h1>検査体験会</h1>
  <div>
    <img src="images/kensa1.png" alt="">
    <p><span>心臓の検査</span><br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </div>
  <div>
    <img src="images/kensa2.png" alt="">
    <p><span>肺の検査</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kensa3.png" alt="">
    <p><span>骨の検査</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kensa4.png" alt="">
    <p><span>血管の検査</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kensa5.png" alt="">
    <p><span>神経の検査</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kensa6.png" alt="">
    <p><span>問診体験</span><br>説明文</p>
  </div>
</div>

<div id="kagaku" class="details">
  <h1>科学体験教室</h1>
  <div>
    <img src="images/kagaku1.png" alt="">
    <p><span>「味覚の不思議体験」</span><br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </div>
  <div>
    <img src="images/kagaku2.png" alt="">
    <p><span>「脳波ゲーム」</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kagaku3.png" alt="">
    <p><span>「細胞の世界」</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kagaku4.png" alt="">
    <p><span>「パスタde骨格」</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kagaku5.png" alt="">
    <p><span>「手洗いチェッカー」</span><br>説明文</p>
  </div>
</div>

<div id="kyukyu" class="details">
  <h1>救急体験会</h1>
  <div>
    <img src="images/kyukyu1.png" alt="">
    <p><span>ドクターヘリ見学会</span><br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </div>
  <div>
    <img src="images/kyukyu2.png" alt="">
    <p><span>民間救急車見学会</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kyukyu3.png" alt="">
    <p><span>献血ブース</span><br>説明文</p>
  </div>
  <div>
    <img src="images/kyukyu4.png" alt="">
    <p><span>心肺蘇生講習会</span><br>説明文</p>
  </div>
</div>

<div id="hc" class="details">
  <h1>ハンディキャップ体験会</h1>
  <div>
    <img src="images/hc1.png" alt="">
    <p><span>盲導犬講習会</span><br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </div>
  <div>
    <img src="images/hc2.png" alt="">
    <p><span>車いす体験会</span><br>説明文</p>
  </div>
  <div>
    <img src="images/hc3.png" alt="">
    <p><span>妊婦さん体験会</span><br>説明文</p>
  </div>
</div>

<div id="rally" class="details">
  <h1>シールラリー</h1>
  <div>
    <img src="images/rally1.png" alt="">
    <p><span>検査体験会のシール</span><br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </div>
  <div>
    <img src="images/rally2.png" alt="">
    <p><span>科学体験教室のシール</span><br>説明文</p>
  </div>
  <div>
    <img src="images/rally3.png" alt="">
    <p><span>救急体験会のシール</span><br>説明文</p>
  </div>
  <div>
    <img src="images/rally4.png" alt="">
    <p><span>ハンディキャップ体験会のシール</span><br>説明文</p>
  </div>
</div>

<div id="etc" class="details">
  <h1>その他の企画</h1>
  <div>
    <img src="images/etc1.png" alt="">
    <p><span>ぬいぐるみ病院</span><br>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </div>
  <div>
    <img src="images/etc2.png" alt="">
    <p><span>講演会</span><br>説明文</p>
  </div>
  <div>
    <img src="images/etc3.png" alt="">
    <p><span>東医研カレー</span><br>説明文</p>
  </div>
  <div>
    <img src="images/etc4.png" alt="">
    <p><span>ポスター展示</span><br>説明文</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox({
      openEffect : 'elastic',
      closeEffect : 'elastic',
    });
  });
</script>
