<div class="oneliner">
　　<h2 class="container">医学展とは？</h2>
</div>
<div class="oneliner">
　　<h2 class="container">医学展HPを見てくださったすべての皆様へ</h2>
</div>
<div class="oneliner">
　　<h2 class="container">第54回北大医学展テーマ「WARA医」</h2>
</div>
<div class="oneliner">
　　<h2 class="container">開催概要</h2>
</div>
<div class="oneliner">
　　<h2 class="container">協賛団体の皆様</h2>
</div>