<div class="oneliner">
  <h2 class="container">医学展とは？</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus">
      <p><strong>『医学展』は、毎年夏に北海道大学医学部医学科の有志が主体となって開催している学部祭です。</strong></p>
      <p>一年の中で、北海道大学医学部が無料で一般開放される唯一の機会であり、<br>54年間にわたって築き上げられてきた市民の皆様との大切な交流の場です。<br>毎年、2日間で3000名以上の市民の皆様にご来場頂いております。</p>
      <p>本年度は、4大企画『検査体験会』『科学体験教室』『救急体験会』『ハンディキャップ体験会』を中心に、<br>楽しくて笑えて学べてためになる企画を盛り沢山にご用意しております。</p>
      <p>2015年6月6日（土）、7日（日）に北海道大学医学部で一緒に笑顔の花を咲かせましょう！</p>
    </div>
  </div>
</div>

<!--
<div class="oneliner">
  <h2 class="container">医学展HPを見てくださったすべての皆様へ</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus">
  	  <p>（医学部長と）実行委員長のご挨拶をできれば入れたいのですが、どうでしょう？</p>
    </div>
  </div>
</div>
-->

<div class="oneliner">
  <h2 class="container">第54回北大医学展テーマ「WARA医」</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus">
      <p><strong>テーマ「ＷＡＲＡ医」には、第54回北大医学展を来場者やスタッフの笑みあふれる場にしようという願いが込められています。</strong></p>
      <p>来場者の皆様に医学や健康への興味をお持ちになっていただくには、<br>展示や学生スタッフのパフォーマンスに楽しみや明るさが必要であり、<br>スタッフの医学展へのやりがいもまた、来場者の楽しんでいただく姿あってのことだと感じております。</p>
      <p>医学展の意義をスタッフで今一度確認し、医学生が社会や来場者の方々に対してできることを一つ一つ実践していく過程で、<br>「笑い」や「笑顔」の絶えない雰囲気を医学展全体で表現していくことを本年度の北大医学展の企画実施方針と考えております。</p>
    </div>
  </div>
</div>

<div class="oneliner">
　　<h2 class="container">開催概要</h2>
</div>
<div class="stage">
  <div class="container">
    <table>
      <tr><td>祭名</td><td>第54回北海道大学医学展</td></tr>
      <tr><td>日程</td><td>2015年6月6日(土) 10:00-17:30<br>2015年6月7日(日) 09:00-16:30</td></tr>
      <tr><td>会場</td><td>北海道大学医学部<br>(札幌市北区北15条西7丁目)<br>&emsp;<br>噴水周辺ロータリー<br>医学部学友会館</br>医学部図書館 2～3階</td></tr>
      <tr><td>企画</td><td style="text-align:left"><ul>
        <li>検査体験会
          <ul>
            <li>心臓の検査ブース（心電図・胸部エコー・腹部エコー）</li>
            <li>肺の検査ブース（肺活量・一秒率・酸素飽和度）</li>
            <li>骨の検査ブース（骨密度）</li>
            <li>血管の検査ブース（血管年齢）</li>
            <li>神経の検査ブース（膝蓋腱反射など）</li>
            <li>問診体験ブース（医療面接・聴診体験・結紮体験・ポスター展示）</li>
          </ul>
        </li>
        <li>科学体験教室
          <ul>
            <li>「味覚の不思議体験」</li>
            <li>「脳波ゲーム」 </li>
            <li>「細胞の世界」</li>
            <li>「パスタde骨格」</li>
            <li>「手洗いチェッカー」</li>
          </ul>
        </li>
        <li>救急体験会
          <ul>
            <li>ドクターヘリ見学会</li>
            <li>民間救急車見学会</li>
            <li>献血ブース</li>
            <li>心肺蘇生講習会</li>
          </ul>
        </li>
        <li>ハンディキャップ体験会
          <ul>
            <li>盲導犬講習会</li>
            <li>車いす体験会</li>
            <li>妊婦さん体験会</li>
          </ul>
        </li>
        <li>シールラリー</li>
        <li>その他の企画
          <ul>
            <li>ぬいぐるみ病院（SCOPH連携企画）</li>
            <li>講演会（なまらambitious連携企画）</li>
            <li>東医研カレー（東洋医学研究会連携企画）</li>
            <li>ポスター展示（SCORA連携企画）</li>
          </ul>
        </li>
      </ul></td></tr></tr>
      <tr><td>主催</td><td>北海道大学医学展実行委員会</td></tr>
    </table>
  </div>
</div>

<!--
<div class="oneliner">
　　<h2 class="container">協賛団体の皆様</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus">
     <p>このセクションはカットで公開へ。そのうち追加するかも。</p>
    </div>
  </div>
</div>
-->

<div class="oneliner">
  <h2 class="container">LINKS</h2>
</div>
<div class="stage lastStage">
  <div class="container">
    <div class="campus">
      <div class="link"><a href="http://www.hokudai.ac.jp/" target="_blank">北海道大学</a></div>
      <div class="link"><a href="http://www.med.hokudai.ac.jp/" target="_blank">大学院医学研究科・医学部</a></div>
      <div class="link"><a href="http://hokudaisai.com/" target="_blank">第57回北大祭</a></div>
      <div class="link"><a href="http://nire.hokudaisai.com/" target="_blank">楡陵祭2015</a></div>
    </div>
  </div>
</div>