<div class="oneliner">
  <h2 class="container">北大医学展公式キャラクター「いがくん」＆「メディちゃん」</h2>
</div>

<div class="oneliner">
  <h2 class="container">Gallary 2014 （昨年、第53回医学展にて）</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="campus">
      <p>準備中です。</p>
    </div>
  </div>
</div>

<div class="oneliner">
  <h2 class="container">Gallary 2013 （一昨年、第52回医学展にて）</h2>
</div>
<div class="stage lastStage">
  <div class="container">
    <a class="fancybox" rel="group2013" href="images/igakun01.jpg"><img src="images/igakun01.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun02.jpg"><img src="images/igakun02.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun03.jpg"><img src="images/igakun03.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun04.jpg"><img src="images/igakun04.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun05.jpg"><img src="images/igakun05.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun06.jpg"><img src="images/igakun06.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun07.jpg"><img src="images/igakun07.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun08.jpg"><img src="images/igakun08.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun09.jpg"><img src="images/igakun09.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun10.jpg"><img src="images/igakun10.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun11.jpg"><img src="images/igakun11.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun12.jpg"><img src="images/igakun12.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun13.jpg"><img src="images/igakun13.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun14.jpg"><img src="images/igakun14.jpg" alt="いがくん"></a>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox();
  });
</script>