<div class="oneliner">
　　<h2 class="container">北大医学展公式キャラクター「いがくん」＆「メディちゃん」</h2>
</div>
<div class="oneliner">
　　<h2 class="container">Gallary 2014 （昨年、第53回医学展にて）</h2>
</div>
<div class="oneliner">
　　<h2 class="container">Gallary 2013 （一昨年、第52回医学展にて）</h2>
</div>