<div class="oneliner">
  <h2 class="container">北大医学展公式キャラクター「いがくん」＆「メディちゃん」</h2>
</div>
<div class="stage">
  <div class="container">
    <div class="profile">
      <img src="images/igakun00.png" alt="いがくん">
      <dl>
        <dt><img src="images/item.gif" alt="">ニックネーム</dt><dd>いがくん</dd>
        <dt><img src="images/item.gif" alt="">誕生日</dt><dd>2013年6月8日</dd>
        <dt><img src="images/item.gif" alt="">年齢</dt><dd>今年2歳になります</dd>
        <dt><img src="images/item.gif" alt="">友達<br>&emsp;</dt><dd>メディちゃん、ふっとう君</dd>
        <dt><img src="images/item.gif" alt="">好きな食べ物</dt><dd>ミラクルフルーツ</dd>
        <dt><img src="images/item.gif" alt="">好きな花</dt><dd>すずらん</dd>
        <dt><img src="images/item.gif" alt="">好きな歌詞</dt><dd>信じたい</dd>
        <dt><img src="images/item.gif" alt="">好きな映画</dt><dd>もらとりあむタマ子</dd>
        <dt><img src="images/item.gif" alt="">チャームポイント</dt><dd>こころ</dd>
        <dt><img src="images/item.gif" alt="">得意な科目</dt><dd>医学</dd>
        <dt><img src="images/item.gif" alt="">夢<br>&emsp;</dt><dd>みんなと北大医学部をつなぐこと</dd>
      </dl>
    </div>
    <div class="profile">
      <img src="images/medychan00.png" alt="メディちゃん">
      <dl>
        <dt><img src="images/item.gif" alt="">ニックネーム</dt><dd>メディちゃん</dd>
        <dt><img src="images/item.gif" alt="">誕生日</dt><dd>2014年6月7日</dd>
        <dt><img src="images/item.gif" alt="">年齢</dt><dd>今年1歳になります</dd>
        <dt><img src="images/item.gif" alt="">友達<br>&emsp;</dt><dd>いがくん、ふっとう君</dd>
        <dt><img src="images/item.gif" alt="">好きな食べ物</dt><dd>ギムネマ茶</dd>
        <dt><img src="images/item.gif" alt="">好きな花</dt><dd>トケイソウ</dd>
        <dt><img src="images/item.gif" alt="">好きな歌詞</dt><dd>命は美しい</dd>
        <dt><img src="images/item.gif" alt="">好きな映画</dt><dd>？？？</dd>
        <dt><img src="images/item.gif" alt="">チャームポイント</dt><dd>リボン</dd>
        <dt><img src="images/item.gif" alt="">得意な科目</dt><dd>栄養学</dd>
        <dt><img src="images/item.gif" alt="">夢<br>&emsp;</dt><dd>みんなを北大医学部で笑顔にすること</dd>
      </dl>
    </div>
  </div>
</div>

<div class="oneliner">
  <h2 class="container">Gallary 2014 （昨年、第53回医学展にて）</h2>
</div>
<div class="stage">
  <div class="container">
    <a class="fancybox" rel="group2014" href="images/igakun-medy01.jpg"><img src="images/igakun-medy01.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy02.jpg"><img src="images/igakun-medy02.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy03.jpg"><img src="images/igakun-medy03.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy04.jpg"><img src="images/igakun-medy04.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy05.jpg"><img src="images/igakun-medy05.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy06.jpg"><img src="images/igakun-medy06.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy07.jpg"><img src="images/igakun-medy07.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy08.jpg"><img src="images/igakun-medy08.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy09.jpg"><img src="images/igakun-medy09.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy10.jpg"><img src="images/igakun-medy10.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy11.jpg"><img src="images/igakun-medy11.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy12.jpg"><img src="images/igakun-medy12.jpg" alt="いがくんとメディちゃん"></a>
    <a class="fancybox" rel="group2014" href="images/igakun-medy13.jpg"><img src="images/igakun-medy13.jpg" alt="いがくんとメディちゃん"></a>
  </div>
</div>

<div class="oneliner">
  <h2 class="container">Gallary 2013 （一昨年、第52回医学展にて）</h2>
</div>
<div class="stage lastStage">
  <div class="container">
    <a class="fancybox" rel="group2013" href="images/igakun01.jpg"><img src="images/igakun01.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun02.jpg"><img src="images/igakun02.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun03.jpg"><img src="images/igakun03.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun04.jpg"><img src="images/igakun04.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun05.jpg"><img src="images/igakun05.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun06.jpg"><img src="images/igakun06.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun07.jpg"><img src="images/igakun07.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun08.jpg"><img src="images/igakun08.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun09.jpg"><img src="images/igakun09.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun10.jpg"><img src="images/igakun10.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun11.jpg"><img src="images/igakun11.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun12.jpg"><img src="images/igakun12.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun13.jpg"><img src="images/igakun13.jpg" alt="いがくん"></a>
    <a class="fancybox" rel="group2013" href="images/igakun14.jpg"><img src="images/igakun14.jpg" alt="いがくん"></a>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox({
      openEffect : 'elastic',
      closeEffect : 'elastic',
    });
  });
</script>
